* {
    margin: 0;
    padding: 0;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.h-fix {
  display: inline-block;
  height: 50px;
}

.navbar-light .navbar-brand {
    color: red;
}

footer {
    color: white;
    background-color: black;
    line-height: 40px;
}

footer p {
    margin-bottom: 0;
}

.wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper-login {
  position: relative;
  top: 0;
  height: calc(100vh - 96px);
}
.separator {
  margin-top: 100px;
}
.white {
  color:white;
}

.card-description {
    position: relative;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-login {
  background-color: rgba(255,255,255,0.7);
}

/* Slider */
.slider {
  position: relative;
  top: 0;

}

/* Filtros */

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0px;
}
.panel-group .panel+.panel {
    margin-top: 5px;
}
.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}


.panel-body ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.comentario {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comentario .card {
  display:flex; 
  flex-direction:row;
}
.comentario .card i {
  align-items: center;
  margin-left:10px;
}

.comentario .card .com {
  flex-grow:1; 
  padding-left: 20px;
}
.comentario .card .date {
  margin-right: 10px;
}

.precio {
  font-size: 40px;
}

